<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>new client</title>
</head>
<body>
<header th:insert="blocks/header :: header" ></header>
<h1>edit account</h1>

<form th:method="PATCH" th:action="@{/clients/{id}(id=${client.id})}" th:object="${client}">
    <p>account number: <input type="text" th:field="*{accNumber}"/></p>
    <b>amount </b> <input type="number" th:field="*{amount}" id="amount"/>
    <br>
    <b>currency </b>
    <select name="currency">
        <option th:each="currency : ${T( ru.laptseu.bankapp.models.Currency).values()}"
                th:value="${currency}" th:text="${currency.getLabel()}"></option>
    </select>
    <br><b>bank </b>
    <select th:field="*{bankId}">
        <option th:each="bank : ${bankModel}"
                th:value="${bank.getId()}" th:text="${bank.getName()}"></option>
    </select>
    <br> <b>client </b>
    <select th:field="*{clientId}">
        <option th:each="client : ${clientModel}"
                th:value="${client.getId()}" th:text="${client.getName()}"></option>
    </select>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>